body{
    background-color:#FCF5ED ;
    background-color:#F4BF96 ;
    background-color:#dfa77c ;
    background-color:#cc5966 ;
    background-color:#bf3746 ;
    background-color:#1F1717 ;
    background-color:#402a2a;
    
}